$transition-box-shadow: .2s;

$fore-color: lime;
$back-color: black;

// box shadow
$box-shadow-color: rgba(#333, 0.2);
$md2-box-shadow: 0px 2px 5px $box-shadow-color;
$md2-box-shadow-hover: 0px 5px 10px $box-shadow-color;

@mixin fill {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

$def-border: 3px solid $fore-color;
