.top-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.top-link-btn {
  filter: invert(100%);
  pointer-events: none;
  width: 40px;
}

.md-desc {
  display: flex;
  flex-flow: column nowrap;
  
  h1 {
    text-align: center;
  }

  p {
    display: flex;
    // display: inline;
    // flex-flow: column nowrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    // align-items: flex-start;

    a {
      display: contents;
    }

    img:not(.emoji) {
      border: 2px solid $fore-color;
      border-radius: 5px;
      align-self: center;
      width: 75%;
      margin: auto;
      margin-bottom: 10px;
      padding: 5px;
    }
    img.emoji {
      width: 1em;
      height: 1em;
    }
  }
}
